* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

body {
    justify-content: center;
    background-image: url(login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
}

.regis_container {
    width: 400px;
    padding: 3rem;
    margin-top: 20vh;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    color: white;
    text-align: center;
    padding: 1rem;

}

.input-box {
    margin-bottom: 1.5rem;
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    padding: 12px 12px 12px 50px;
    padding-top: 24px;
    color: white;
    font-size: 0,75rem;
}

.input-box input::placeholder {
    color: #ffffff;
}

.daftar-btn {
    width: 70%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #0028b6;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.input-box img {
    position: absolute;
    top: 35%;
    left: 12px;
    width: 24px; 
    height: 24px;
  }

.daftar-btn:hover {
    background-color: #f0f0f0;
}

.face img{
    margin-left: 225px;
    margin-top: -53px;
}
